<!DOCTYPE html>
<html lang="zxx" xmlns:th="https://www.thymeleaf.org">
<div th:replace="layouts/main :: head"></div>
<body>
	<div th:replace="layouts/main :: preloader"></div>
	<div th:replace="layouts/main :: header-section"></div>
	<div th:replace="layouts/main :: page-top"></div>

	<!-- Contact page -->
	<section class="contact-page">
		<div class="container">
			<div class="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.896733134141!2d50.89462771232974!3d34.632049830402515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f93bc7b665109b3%3A0x1ce5653b328a00bf!2sQom%20University%20Technology%20Development%20Center!5e0!3m2!1sen!2sbd!4v1608324151269!5m2!1sen!2sbd" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			</div>
			<div class="row">
				<div class="col-lg-7 order-2 order-lg-1">
					<form class="contact-form">
						<input type="text" placeholder="Your name">
						<input type="text" placeholder="Your e-mail">
						<input type="text" placeholder="Subject">
						<textarea placeholder="Message"></textarea>
						<button class="site-btn">Send message<img src="img/icons/double-arrow.png" alt="#"/></button>
					</form>
				</div>
				<div class="col-lg-5 order-1 order-lg-2 contact-text text-white">
					<h3>Howdy! Say hello</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.....</p>
					<div class="cont-info">
						<div class="ci-icon"><img src="img/icons/location.png" alt=""></div>
						<div class="ci-text">Main Str, no 23, New York</div>
					</div>
					<div class="cont-info">
						<div class="ci-icon"><img src="img/icons/phone.png" alt=""></div>
						<div class="ci-text">+546 990221 123</div>
					</div>
					<div class="cont-info">
						<div class="ci-icon"><img src="img/icons/mail.png" alt=""></div>
						<div class="ci-text">hosting@contact.com</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact page end-->

	<div th:replace="layouts/main :: newsletter"></div>
	<div th:replace="layouts/main :: footer-section"></div>
	<div th:replace="layouts/main :: scripts"></div>
	</body>
</html>
