<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<div th:replace="layouts/main :: head"></div>
<body>
	<div th:replace="layouts/main :: preloader"></div>
	<div th:replace="layouts/main :: header-section"></div>
	<div th:replace="layouts/main :: page-top"></div>

	<!-- Games section -->
	<section class="games-section">
		<div class="container">
			<ul class="game-filter">
				<li th:each="char : ${chars}"><a th:text="${char}" th:href="|?char=${char}|"></a></li>
			</ul>
			<div class="row">
				<div class="col-xl-7 col-lg-8 col-md-7">
					<div class="row">
						<div class="col-lg-4 col-md-6" th:each="game : ${games}">
							<div class="game-item">
								<img th:src="@{${game.image}}" th:alt="${game.title}" alt="#">
								<h5 th:text="${game.title}"></h5>
								<a th:href="@{|/games/${game.id}|}" class="read-more">Read More  <img th:src="@{/img/icons/double-arrow.png}" alt="#"/></a>
							</div>
						</div>
					</div>
					<div class="site-pagination">
						<a href="#" class="active">01.</a>
						<a href="#">02.</a>
						<a href="#">03.</a>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-5 sidebar game-page-sideber">
					<div id="stickySidebar">
						<div class="widget-item">
							<div class="categories-widget">
								<h4 class="widget-title">categories</h4>
								<ul>
									<li><a href="">Games</a></li>
									<li><a href="">Gaming Tips & Tricks</a></li>
									<li><a href="">Online Games</a></li>
									<li><a href="">Team Games</a></li>
									<li><a href="">Community</a></li>
									<li><a href="">Uncategorized</a></li>
								</ul>
							</div>
						</div>
						<div class="widget-item">
							<div class="categories-widget">
								<h4 class="widget-title">platform</h4>
								<ul>
									<li><a href="">Xbox</a></li>
									<li><a href="">X box 360</a></li>
									<li><a href="">Play Station</a></li>
									<li><a href="">Play Station VR</a></li>
									<li><a href="">Nintendo Wii</a></li>
									<li><a href="">Nintendo Wii U</a></li>
								</ul>
							</div>
						</div>
						<div class="widget-item">
							<div class="categories-widget">
								<h4 class="widget-title">Genre</h4>
								<ul>
									<li><a href="">Online</a></li>
									<li><a href="">Adventure</a></li>
									<li><a href="">S.F.</a></li>
									<li><a href="">Strategy</a></li>
									<li><a href="">Racing</a></li>
									<li><a href="">Shooter</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Games end-->

	<div th:replace="layouts/main :: featured"></div>
	<div th:replace="layouts/main :: newsletter"></div>
	<div th:replace="layouts/main :: footer-section"></div>
	<div th:replace="layouts/main :: scripts"></div>
	</body>
</html>
