<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<div th:replace="layouts/main :: head"></div>
<body>
	<div th:replace="layouts/main :: preloader"></div>
	<div th:replace="layouts/main :: header-section"></div>
	<div th:replace="layouts/main :: page-top"></div>

	<!-- Games section -->
	<section class="games-section">
		<div class="container">
			<ul class="game-filter">
				<!-- TODO Handle search -->
				<li th:each="char : ${chars}"><a th:text="${char}" th:href="'?char=' + |${char}|"></a></li>
			</ul>
			<div class="row">
				<div class="col-xl-7 col-lg-8 col-md-7">
					<div class="row">
						<div class="col-lg-4 col-md-6" th:each="game : ${games}">
							<div class="game-item">
								<img th:src="@{${game.image}}" th:alt="${game.title}" src="" alt="#">
								<h5 th:text="${game.title}"></h5>
								<a th:href="@{|/games/${game.id}|}" class="read-more">Read More  <img th:src="@{/img/icons/double-arrow.png}" src="" alt="#"/></a>
							</div>
						</div>
					</div>
					<div class="site-pagination">
						<!-- TODO: Create Pagination -->
						<a href="#" class="active">01.</a>
						<a href="#">02.</a>
						<a href="#">03.</a>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-5 sidebar game-page-sideber">
					<div id="stickySidebar">
						<div class="widget-item">
							<div class="categories-widget">
								<h4 class="widget-title">categories</h4>
								<ul>
									<li th:each="category : ${categories}"><a th:text="${category.name}" href=""></a></li>
								</ul>
							</div>
						</div>
						<div class="widget-item">
							<div class="categories-widget">
								<h4 class="widget-title">platform</h4>
								<ul>
									<li th:each="platform : ${platforms}"><a th:text="${platform.name}" href=""></a></li>
								</ul>
							</div>
						</div>
						<div class="widget-item">
							<div class="categories-widget">
								<h4 class="widget-title">Genre</h4>
								<ul>
									<li th:each="genre : ${genres}"><a th:text="${genre.name}" href=""></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Games end-->

	<div th:replace="layouts/main :: featured"></div>
	<div th:replace="layouts/main :: newsletter"></div>
	<div th:replace="layouts/main :: footer-section"></div>
	<div th:replace="layouts/main :: scripts"></div>
	</body>
</html>
